@import "tailwindcss";

:root {
--background:#fcfaf7;
--foreground: #402f26;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background: #fcfaf7;
--foreground: #402f26;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
